<launch>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find avp_localization)/rviz/avp_localization.rviz" /> -->

    <node name="avp_localization" pkg="avp_localization" type="avp_localization" output="screen">
        <param name="auto_run" type="bool" value="false" />
        <param name="show_img" type="bool" value="true" />
    </node>

    <node name="ipm" pkg="ipm" type="ipm"/>

</launch>

